<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.tap.ApplePayTemplate</string>
		<string>merchant.tap.gosell</string>
		<string>merchant.tap.gosellauto</string>
	</array>
</dict>
</plist>
